<% if user_signed_in? %>
    <li>
      <% Library.all.each do |lib| %>
          <%= lib.title %>
          <%#= link_to lib.title, lib %>
          <ul>
            <% lib.projects.each do |project| %>
                <li>
                  <%= project.title %>
                  <%#= link_to project.title, project %>
                  <ul>
                    <% project.packages.each do |package| %>
                        <li>
                          <%= link_to package.title, package %>
                        </li>
                    <% end %>
                  </ul>
                </li>
            <% end %>
          </ul>
      <% end %>
    </li>
<% end %>



