/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "coderay";
@import "bootstrap";

select{
  width: 100%;
}

.row {
  margin-left: 0;
}

input, textarea {
  width: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.face
{
  float: left;
  border-right: solid 1px #DEDEDE;
  border-bottom: solid 1px #DEDEDE;
  width: 60px;
  height: 60px;
  padding: 4px;
  background-color: white;
  margin-right: 5px;
}
.span7 img
{
  max-width:550px;
  border: 1px solid #CCC;
  padding: 9px;
  background: white;
}